* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

._container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px; }

.aside {
  position: relative;
  bottom: 50%; }

.body {
  font-family: "Pacifico";
  font-size: 30px;
  color: #f18900; }

.header__menu {
  background-color: #FFFACD;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  opacity: 70%;
  border: 2px solid #f7c900; }

.wrapper {
  height: 1200px; }

.footer {
  position: relative;
  top: 25%; }

.footer__menu {
  height: 100%; }

.footer__buttons {
  background-color: pink;
  border-radius: 50px;
  border: 2px solid yellow;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.footer__button-icon {
  height: 100px;
  width: 100px; }

.side-block {
  background-color: pink;
  width: 10%;
  height: 700px;
  opacity: 60%;
  border-radius: 50px;
  border: 3px solid yellow; }

.header__link {
  color: #f18900;
  font-family: "Pacifico";
  font-size: 30px;
  padding: 15px; }

.header__logo {
  width: 50px;
  height: 50px;
  background-color: pink;
  border-radius: 20px; }

body {
  background: url("../img/background-image.jpg") no-repeat top center;
  background-color: #f1d6f5;
  background-size: cover; }

.body__title_title1 {
  position: relative;
  border: 5px solid pink;
  border-radius: 20px;
  top: 100px;
  height: 400px;
  width: 50%;
  left: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #FFFACD;
  padding: 0px 15px; }

.body__title_title2 {
  position: relative;
  background-color: #FFFACD;
  top: 200px;
  border: 5px solid pink;
  border-radius: 20px;
  height: 300px;
  width: 50%;
  left: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.title__text {
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 22px;
  padding-top: 5px; }

.title__cats {
  position: relative;
  left: 30%; }

.title__icon_1 {
  position: relative;
  left: 35%;
  width: 160px;
  height: 160px; }

.title__icon_2 {
  position: relative;
  left: 37%;
  width: 120px;
  height: 120px; }

@media (max-width: 1200px) {
  ._container {
    max-width: 970px; }
  .body {
    font-size: 25px; } }

@media (max-width: 992px) {
  ._container {
    max-width: 750px; }
  .title__icon_1 {
    position: relative;
    left: 28%; }
  .title__icon_2 {
    position: relative;
    left: 32%; }
  .title__cats {
    position: relative;
    left: 25%; } }

@media (max-width: 767px) {
  ._container {
    max-width: none; }
  .header__menu {
    height: 100px; } }

@media (max-width: 694px) {
  ._container {
    max-width: none; }
  .body {
    font-size: 20px; } }

@media (max-width: 605px) {
  ._container {
    max-width: none; }
  .header__menu {
    height: 150px; } }

@media (max-width: 590px) {
  ._container {
    max-width: none; }
  .body {
    font-size: 17px; }
  .title__icon_1 {
    position: relative;
    left: 35%;
    height: 70px;
    width: 70px; }
  .title__icon_2 {
    position: relative;
    left: 35%;
    height: 70px;
    width: 70px; }
  .title__motivation {
    position: relative;
    left: 32%; }
  .footer__button-icon {
    width: 90px;
    height: 90px; } }

@media (max-width: 432px) {
  ._container {
    max-width: none; }
  .title__cats {
    position: relative;
    left: 15%; } }

@media (max-width: 386px) {
  ._container {
    max-width: none; }
  .title__icon_1 {
    position: relative;
    left: 26%;
    height: 70px;
    width: 70px; }
  .title__icon_2 {
    position: relative;
    left: 26%;
    height: 70px;
    width: 70px; }
  .title__cats {
    font-size: 12px; }
  .footer__button-icon {
    width: 50px;
    height: 50px; } }

@media (max-width: 321px) {
  ._container {
    max-width: none; }
  .header__menu {
    height: 180px; } }
